/* .element {
  width: 250px;
  height: 250px;
  border: solid 1px;
  border-color: black;
  animation: pulse 5s infinite;

}

@keyframes pulse {

  0%,
  100% {
    background-color: blue;
  }

  50% {
    background-color: cornflowerblue;
  }
}

.element:hover {
  animation: resizer 3s infinite;

}

@keyframes resizer {

  0%,
  100% {
    transform: scale(1.0);
    background-color: blue;
  }

  50% {
    transform: scale(0.25);
    background-color: cornflowerblue;
  }
}

 .element2 {
  width: 250px;
  height: 250px;
  border: solid 1px;
  border-color: black;
}

.element2:hover {
  animation: rot 5s infinite;
}

@keyframes rot {

  0%,
  100% {
    transform: rotate(0deg);
    background-color: blue;
  }

  50% {
    transform: rotate(360deg);
    background-color: cornflowerblue;
  }
}

.element3 {
  width: 250px;
  height: 250px;
  border: solid 1px;
  border-color: black;
  margin-left: 300px;
}

.element3:hover {
  animation: stretch 5s infinite;
}

@keyframes stretch {
  0% {
    transform: scale(0.5);
    background-color: blue;
    border-radius: 100%;

  }

  50% {
    background-color: cornflowerblue;
  }

  100%,
  {
  transform: scale(1.5);
  background-color: blue;
} */


/*
.element3 {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-color: red;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;

}

*/

/* .cir:hover{
  animation:stretch 5s 1;
} */
/* @keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: red;
    border-radius: 100%;
  }

  50% {
    background-color: orange;
  }

  100% {
    transform: scale(1.5);
    background-color: yellow;
  }
} */
.element3 {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: red;
  animation-name: movedown;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes movedown {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(490px, 400px);
  }

  100% {
    transform: translate(1150px, 0px);
  }
}