:root {
  --primaryColor: #5B8FB9;
  --backgroundColor: #B6EADA;
  --titleFont: 'Sacramento', cursive;
  --secondaryColor: #03001C;
  --thirdColor: #301E67;
  --fourthColor: #0A4D68;
}

body {
  background-color: aquamarine;
  margin: 0px;
  color: var(--fourthColor);
}

.heading_group {
  margin-top: 50px;
  display: inline-block;
  margin-left: 320px;

}

.top_section {
  color: var(--backgroundColor);
  background-color: var(--backgroundColor);
  text-align: center;
  height: 400px;
}

.intro {
  line-height: 2;
  margin: auto;
  width: 50%;

}

hr {
  margin-top: 100px;
  margin-bottom: 100px;
  border: dotted 3px;
  border-top: none;
  width: 5%;
}

.middle_sec {
  margin: 50px auto 100px;
  text-align: center;
  width: 75%;

}

.heading {
  font-size: 4.6rem;
  color: var(--secondaryColor);
  font-family: var(--titleFont)
}

.bio {
  color: var(--primaryColor);
  font-family: 'Pacifico', cursive;
  font-size: 2em;
}

.top_cloud {
  width: 100px;
  position: absolute;
  margin-left: 250px;

}

.bottom_cloud {
  width: 110px;
}

.rainbow {
  width: 400px;
}

.profile_pic {
  border-radius: 100%;
  width: 200px;
  margin: 100px auto 50px;
  display: block;
}

.code {
  width: 150px;
  margin-left: -45px;
}

.left {
  float: left;
  margin-right: 40px;
}

.right {
  float: right;
  margin-left: 40px;
}

.skill_row {
  text-align: left;
  margin-bottom: 80px;
}

a {
  text-decoration: none;
  color: #0A4D68;
}

.Contact {
  background-color: var(--backgroundColor);
  font-size: 1.75rem;
  padding: 10px 20px;
  border-radius: 15px;

}


.shift {
  margin-left: 180px;
}

.Contact:hover {
  background-color: #032440;

}

.bottom_sec {
  margin: 0px auto;
  padding: 80px auto;
  text-align: center;
  background-color: var(--backgroundColor)
}

.social {
  padding: 40px 0px;
}

.social-link {
  margin: 0px 40px;
}

.copyright {
  margin: 0;
  padding-bottom: 40px;
  color: var(--fourthColor);
  font-size: 1.75rem;
}

.social-link:hover {
  color: var(--thirdColor);
}